.mws-panel.grid_6
  .mws-panel-header
    %span
      Links
  .mws-panel-body.no-padding
    %ul.mws-summary.clearfix
      %li
        %span.key
          Drug Test Site
        %span.val
          %span.text-nowrap
            = link_to 'Drug Test Site', 'http://107.211.157.81:8080/Eclipse_Orders_Entry/'
            sobrirt:women

