.container-fluid
  .row-fluid
    .page-header
      %h2= t(:sobriety_for_women)
  .row-fluid
    .span12
      .box-widget
        .widget-head.clearfix
          %span.h-icon
            %i.gray-icons.flag_2
          %h4 Boxy Widget
        .widget-container
          .widget-block
            %p
              This is blank layout format. This layout page have no extra jQuery plugins and extra css files. Only two JS files is included here.

