- content_for :pageheader do
  %ul.breadcrumb
    %li
      %a{:href => "/admins/dashboard"}
        %i.icon-home
        =t(:dashboard)
      %span.divider /
    %li
      %a{:href => "/admins/admins"}
        %i.icon-official
        =t(:admin)
      %span.divider /
    %li.active
      %i.icon-edit
      =t(:edit_admin)
  %h1#main-heading
    Update an Admin
    %span Updating an admin

=render 'form'

