!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Viewport Metatag
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    / Required Stylesheets
    %link{:href => "/assets/admin2/bootstrap/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/fonts/ptsans/stylesheet.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/fonts/icomoon/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/login.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/mws-theme.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %title MWS Admin - Login Page
  %body
    = yield
    / JavaScript Plugins
    %script{:src => "/assets/admin2/libs/jquery-1.8.3.min.js"}
    %script{:src => "/assets/admin2/libs/jquery.placeholder.min.js"}
    %script{:src => "/assets/admin2/custom-plugins/fileinput.js"}
    / jQuery-UI Dependent Scripts
    %script{:src => "/assets/admin2/jui/js/jquery-ui-effects.min.js"}
    / Plugin Scripts
    %script{:src => "/assets/admin2/plugins/validate/jquery.validate-min.js"}
    / Login Script
    %script{:src => "/assets/admin2/core/login.js"}
