!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Pontus - a clever responsive admin template
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Admin Panel Template", :name => "description"}/
    %meta{:content => "Westilian: Kamrujaman Shohel", :name => "author"}/
    / styles
    %link{:href => "/assets/admin/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/styles.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/prettify.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/aristo-ui.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/fullcalendar.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/elfinder.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/jquery.jqplot.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/responsive-tables.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/bootstrap-responsive.css", :rel => "stylesheet"}/
    %link{:href => "/assets/admin/themes.css", :rel => "stylesheet"}/
    /[if IE 7]
      <link rel="stylesheet" type="text/css" href="/asset/admins//ie/ie7.css" />
    /[if IE 8]
      <link rel="stylesheet" type="text/css" href="/asset/admins//ie/ie8.css" />
    /[if IE 9]
      <link rel="stylesheet" type="text/css" href="/asset/admins//ie/ie9.css" />
    / fav and touch icons
    %link{:href => "/assets/admin/ico/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/assets/admin/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "/assets/admin/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "/assets/admin/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "/assets/admin/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    / ============ javascript ===========
    %script{:src => "/assets/admin/jquery.js"}
    %script{:src => "/assets/admin/bootstrap.min.js"}
    %script{:src => "/assets/admin/jquery-ui-1.8.16.custom.min.js"}
    %script{:src => "/assets/admin/jquery.data-table.js"}
    %script{:src => "/assets/admin/prettify.js"}
    %script{:src => "/assets/admin/jquery.metadata.js"}
    %script{:src => "/assets/admin/jquery.validate.js"}
    %script{:src => "/assets/admin/stepy.jquery.js"}
    %script{:src => "/assets/admin/inputmask.jquery.js"}
    %script{:src => "/assets/admin/jquery.tagsinput.js"}
    %script{:src => "/assets/admin/uniform.jquery.js"}
    %script{:src => "/assets/admin/fullcalendar.min.js"}
    %script{:src => "/assets/admin/gcal.js"}
    %script{:src => "/assets/admin/elfinder.min.js"}
    %script{:src => "/assets/admin/jquery.notify.js"}
    %script{:src => "/assets/admin/responsive-tables.js"}
    %script{:src => "/assets/admin/jquery.cleditor.js"}
    / RANGE DATE PICKER
    %script{:src => "/assets/admin/jquery.slider.min.js"}
    %script{:src => "/assets/admin/date.js", :type => "text/javascript"}
    %script{:src => "/assets/admin/daterangepicker.js", :type => "text/javascript"}
    %script{:src => "/assets/admin/bootstrap-datepicker.js", :type => "text/javascript"}
    %script{:src => "/assets/admin/bootstrap-colorpicker.js", :type => "text/javascript"}
    %script{:src => "/assets/admin/chosen.jquery.js"}
    %script{:src => "/assets/admin/input-limiter.jquery.js"}
    %script{:src => "/assets/admin/jquery.autosize.js"}
    %script{:src => "/assets/admin/raty.jquery.js"}
    %script{:src => "/assets/admin/easing.jquery.js"}
    %script{:src => "/assets/admin/iphone-style-checkboxes.js"}
    %script{:src => "/assets/admin/duallist.jquery.js"}
    %script{:src => "/assets/admin/ui.spinner.min.js"}
    %script{:src => "https://www.google.com/jsapi"}
    %script{:src => "/assets/admin/jquery.sparkline.min.js"}
    / JqPlot CHART
    %script{:src => "/assets/admin/excanvas.min.js"}
    %script{:src => "/assets/admin/jquery.jqplot.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.highlighter.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.cursor.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.barRenderer.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.pointLabels.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.dateAxisRenderer.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.pieRenderer.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.donutRenderer.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.categoryAxisRenderer.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.logAxisRenderer.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.canvasTextRenderer.min.js"}
    %script{:src => "/assets/admin/chart/jqplot.canvasAxisTickRenderer.min.js"}
    / html5.js for IE less than 9
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %script{:src => "/assets/admin/pontus.script.js"}
    %script{:src => "/assets/admin/respond.min.js"}
    %script{:src => "/assets/admin/ios-orientationchange-fix.js"}
  %body.menu_hover
    .top-bar
      .scroll-top
        %a.tip-top{:href => "#", :title => "Go Top"} Top
      .bar-container
        .container-fluid
          .row-fluid
            .span3
              .logo
                %img{:alt => "Anchor", :height => "68", :src => "/assets/admin/sfw_logo.png", :width => "180"}/
                .btn-group.dropdown-append
                  %a.dropdown-toggle.btn{"data-toggle" => "dropdown", :href => "#", :title => "Recent Updates"}
                    %span.notify-tiptop.tips-green 100
                    %i.gray-icons.list_image
                  .dropdown-menu.msg-dropdown.pull-right
                    %ul.msg-list
                      %li.clearfix
                        %h6.dropdown-h.pull-left Recent Updates
                        %span.pull-right.msg-count
                          %a{:href => "#"} 12 New
                      %li.clearfix
                        %a{:href => "#"}
                          %span.dropdown-thumb
                            %img{:alt => "Avatar", :height => "40", :src => "/assets/admin/order-40x40.png", :width => "40"}/
                          %span
                            %i Order
                            $3,645.8 Dollars order is pending. waiting for approval...
                      %li.clearfix
                        %a{:href => "#"}
                          %span.dropdown-thumb
                            %img{:alt => "Avatar", :height => "40", :src => "/assets/admin/events-40x40.png", :width => "40"}/
                          %span
                            %i Events
                            Total 30 new events is created...
                          %span.notification-meta Last Week
                      %li.clearfix
                        %a{:href => "#"}
                          %span.dropdown-thumb
                            %img{:alt => "Avatar", :height => "40", :src => "/assets/admin/files-40x40.png", :width => "40"}/
                          %span
                            %i Files
                            Total 2,564 files are posted in last week...
                          %span.notification-meta Last Week
                      %li.clearfix
                        %a.btn.btn-block.view-all{:href => "#"} View All
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .nav-collapse
            %ul.nav
              %li
                %a{:href => "index.html"}
                  %i.white-icons.home
                  Home
    .left-bar
      .side-nav
        %ul
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.leftnav-icon.computer_imac_blk
              %span.leftnav-label Home
          %li
            %a{:href => "#"}
              %span.leftnav-icon.folder_blk
              %span.leftnav-label Girls
          %li
            %a{:href => "#"}
              %span.leftnav-icon.chart_8_blk
              %span.leftnav-label XXXXX
          %li
            %a{:href => "#"}
              %span.leftnav-icon.money_blk
              %span.leftnav-label 123123
          %li
            %a{:href => "#"}
              %span.leftnav-icon.help_blk
              %span.leftnav-label 4564564
          %li
            %a{:href => "#"}
              %span.leftnav-icon.cog_3_blk
              %span.leftnav-label ddddd
    .main-wrapper
      .active-page
        %ul
          %li
            %span.active-page-icon.computer_imac_blk
            %span Dashboard
      .container-fluid
        =yield
  %script{:src => "/assets/admin/respond.min.js"}
  %script{:src => "/assets/admin/ios-orientationchange-fix.js"}
